@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comments</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@Html.Partial("_Comment")
